:host {
  display: block;
}
.title {
  font-size: 1.25rem;
}
.body {
  font-size: 1rem;
}
.toxicity-ok,
.sentiment-positive,
.authenticity-high {
  --calcite-color-foreground-2: var(--calcite-color-status-success);
  --calcite-color-text-1: var(--calcite-color-foreground-1);
}

.toxicity-unknown,
.sentiment-unknown,
.authenticity-unknown {
  --calcite-color-foreground-2: var(--calcite-color-status-warning);
}

.toxicity-toxic,
.sentiment-negative,
.authenticity-low {
  --calcite-color-foreground-2: var(--calcite-color-status-danger);
  --calcite-color-text-1: var(--calcite-color-foreground-1);
}

.dimension {
  min-width: 100px;
}
.graph {
  width: 100px;
  height: 10px;
  background-color: lightgray;
  margin-top: 10px;
}

.graph .bar {
  height: 100%;
  background-color: blue;
}